<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="/static/css/main.css" >
</head>

<body>
    <h1>My Todo List</h1>
    <form method="post" action="/todos-add/">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-success">Create</button>
    </form>
{% if todos %}
    <div class="container">
        {%for todo in todos  %}
            <div class="todo">
                <p>{{todo.name }}</p>
                <div class=" description">
                    {{ todo.description }}
                </div>
                {% if todo.state %}
                    <div class="done">DONE</div>
                {% else %}
                    <div class="open">NOT DONE</div>
                {% endif %}

            </div>
        {% endfor %}
    </div>

{% else %}
        <h2>No TODOs</h2>
{% endif %}

</body>
</html>
